### Libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

data_set = pd.read_csv('feature scaling.csv')
data_set

   Country  Age  Salary Purchased
0   France   44   72000        No
1    Spain   27   48000       Yes
2  Germany   30   54000        No
3    Spain   38   61000        No
4  Germany   40   70000       Yes
5   France   35   58000       Yes
6    Spain   31   52000        No
7   France   48   79000       Yes
8  Germany   50   83000        No
9   France   37   67000       Yes

In [2]:
#x = data_set.iloc[:, 1:3]
x = data_set[['Age', 'Salary']]
x

   Age  Salary
0   44   72000
1   27   48000
2   30   54000
3   38   61000
4   40   70000
5   35   58000
6   31   52000
7   48   79000
8   50   83000
9   37   67000

In [1]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in d:\anaconda\lib\site-packages (1.3.0)
Requirement already satisfied: numpy>=1.17.3 in d:\anaconda\lib\site-packages (from scikit-learn) (1.24.3)
Requirement already satisfied: scipy>=1.5.0 in d:\anaconda\lib\site-packages (from scikit-learn) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in d:\anaconda\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in d:\anaconda\lib\site-packages (from scikit-learn) (2.2.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
#import sklearn

from sklearn.preprocessing import MinMaxScaler

MMS = MinMaxScaler()

x_after_min_max_scaler = MMS.fit_transform(x)

x_after_min_max_scaler

NameError: name 'x' is not defined

### MIN MAX SCALER (Normalization)

In [4]:
from sklearn.preprocessing import StandardScaler

std = StandardScaler()

X_after_Standardisation = std.fit_transform(x)

X_after_Standardisation

NameError: name 'x' is not defined

### Standardisation